<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela do Usuário</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main-page">
        <header>
            <div class="conteiner-logo">
                <div class="logo-imagem">
                    <img src="img/brasao_uft.webp" alt="brasão uft">
                </div>
                <div class="foto-imagem">
                    <img src="img/jolyne.png" alt="foto de perfil">
                </div>
            </div>
        </header>
        <div class="conteiner">
            <div class="card">
                <div class="texto">
                    <h3>Informações do Usuário</h3>
                </div>
                <div class="imagem">
                    <img class="foto" src="img/jolyne.png" alt="foto de perfil">
                </div>
                <div class="info">
                    <strong>
                        <p>Nome:  jolyne Kujoh</p>
                        <p>CPF:  000.000.000-00</p>
                        <p>E-mail:  jolyne@jojo.com</p>
                        <p>Nº de Matrícula:  2023210950 </p>
                    </strong> 
                </div>
            </div>
           <div class=" botão">
                <div class="conteiner-btn">
                    <img class="img-btn" src="img/icon-pagamento.png" alt=" foto do cartão">
                </div>
                <button class="btn-saldo">Consultar Saldo</button>
                <div class="conteinerr-btn">
                    <img class="img-btn" src="img/icon-config.png" alt=" foto do icon-config">
                </div>
                <button class="btn-alterar">Alterar Dados</button>
           </div>
        </div>
        <footer class="footer">
            <div class="footer-itens">
                <img class="footer-img-brasao" src="img/brasao_uft.webp" alt="">
                <img class="footer-img-logo" src="img/logocurso.png" alt="">
            </div>
        </footer>
    </div>
    
</body>
</html>