<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="main-content">
            <div class="main-container">
                <div class="image">
                    <img src="Brasão_UFT.png" alt="Logo da Universidade Federal do Tocantins">
                </div>

                <div class="btn-login textfield">
                    <label for="login">CPF:</label>
                    <input type="text">

                </div>

                <div class="btn-help textfield">
                    <label for="help">Senha:</label>
                    <input type="text">
                </div>

                <button class="btn-success">Entrar</button>
                <button class="btn-helpme">Esqueci a senha</button>
            </div>
        </div>
    </div>
    <!--
    <footer class="footer">
        <h5> Desenvolvido pelos crias </h5>

    </footer>
    -->
</body>
</html>